# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and outputs
*.log
*.out
*.err

# PyTorch checkpoints and weights
*.pth
*.pt
*.ckpt

# Data and dataset files
data/
*.csv
*.tsv
*.h5
*.npz

# Results and predictions
results/
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# System-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Testing and coverage reports
.pytest_cache/
.coverage
htmlcov/
*.prof

# Package files
*.egg-info/
dist/
build/

# audio files (for now)
*.mp3
*.wav